@charset "utf-8";
@import "reset","bs","global";

.banner img{
  max-width: 100%;
  display: block;
  height: auto;
  width: 100%;
  vertical-align: middle;
}
/*banner图结束*/

.container .cln{
  font-size: 1.5rem;
  padding: 2rem 1rem;
}
.cln span{
  color:#29b078;
}

.sidebar{
  display: inline-block;
  background: #fff;
  box-shadow: 0 0 10px #ccc;
  width: 24%;

  h4{
    padding:1.5rem 0 1.5rem 33%;
    font-size: 2rem;
  }

  li{
    margin: 1.5rem 0 1.5rem 40%;
    font-size: 1.5rem;
    list-style-image: url("../images/light2.png");

    &:hover{
      list-style-image: url("../images/light.png");
    }
  }

  a{
    padding:1.5rem 0;
    color:#29b078;

    &:hover{
      color: #f3a846;
    }
  }
  .sidebar h4,.column-div{
    border-bottom: 1px solid #ccc;
  }

}
@media  screen and (max-width: 768px){
  .sidebar{
    width:100%;
    margin: 0 -15px;
  }
  .line{
    margin-left: 15px;
  }
  .sidebar h4{
    padding-left: 40%;
  }
  .sidebar li{
    margin-left: 42%;
  }
}

.column{
  font-size: 1.5rem;
  float: right;
  margin-right: 15px;
  margin-bottom: 16rem;
  width: 70%;
  background: #fff;
  box-shadow: 0 0 10px #ccc;
}
.column-div img{
  float: left;
}
.column-div p,.column>p{
  padding: 2rem 5rem;
  color: #999;
}
.column-div p{
  padding-top: 6rem;
}
.column>p{
  text-indent:2em;
}

@media  screen and (max-width: 768px){
  .column{
    float: none;
    width: 100%;
    margin: 2rem -15px ;
  }
}